.lightning-fast{
    margin-right: auto;
    margin-left: auto;
    max-width: 2000px;
}

.lightning-fast__content-container{
    display: flex;
    justify-content: center;
    padding: 43px 0 43px 0;
}



.lightning-fast__text-content-container{
    padding: 175px 0 69px 0;
}

.lightning-fast__text-container{
    padding: 0 0 15px 63px;
    .lightning-fast__title{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #252B42;
    }
    .lightning-fast__subtitle{
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        color: #252B42;
    }
}

.lightning-fast__main-content-container{
    padding: 15px 4px 0 63px ;
    .lightning-fast__text-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #252B42;
    }
    .lightning-fast__text-subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #374754;
    }
}

.lightning-fast__input-item{
    display: flex;
}

.lightning-fast__input-container{
    padding: 30px 10px 10px 0;
    .lightning-fast__input-text-item{
        border: 1px solid #F4F4F4;
        background-color: #F4F4F4;
        width: 273px;
        height: 58px;
        border-radius: 39px;
        padding-left: 20px;
    }

    .lightning-fast__btn-container{
        padding-left: 12px;
        .lightning-fast__btn{
            width: 172px;
            height: 58px;
            background-color: #2091F9;
            border: 0;
            border-radius: 35px;
            cursor: pointer;
            color: white;
        }
        .lightning-fast__btn:hover{
            background-color: #1767b0;
        }
    }
}


@media (max-width: 768px) {
    .lightning-fast__content-container{
        flex-direction: column;
        text-align: center;
    }
    .lightning-fast__text-container,
    .lightning-fast__main-content-container{
        padding: 0;
    }
    .lightning-fast__text-content-container{
        padding-top: 20px;
    }
    .lightning-fast__image{
        width: 389px;
        height: 295px;
    }
    .lightning-fast__input-item{
        display: grid;
    }
    .lightning-fast__input-container{
        padding: 10px 0 0 0;
    }
    .lightning-fast__input-item-container{
        padding-bottom: 12px;
    }
    .lightning-fast__btn-container{
        padding-left: 0 !important;
    }
    .lightning-fast__btn{
        width: 273px !important;
    }
}












