.header {
  background-color: #2091f9;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.header__logo-container {
  margin: auto;
  padding-right: 220px;
}

.header__navigation {
  margin: auto;
  .header__navigation-list {
    display: flex;
    list-style-type: none;
    li {
      padding: 10px;
    }
  }
}

.header__socials-btn {
  margin: auto;
}

.header__socials-btn-item {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo-container {
    padding-right: 0;
  }
}
