.fastes-way-to {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 266px;
  padding-bottom: 266px;
}

.fastes-way-to__content-container {
  .fastes-way-to__title {
    padding-top: 37px;
    font-size: 48px;
    line-height: 55px;
    color: #252b42;
  }
  .fastes-way-to__subtitle {
    padding-top: 12px;
    font-size: 28px;
    line-height: 40px;
    color: #374754;
  }
}

.fastes-way-to__btn-container {
  padding-top: 60px;
  .fastes-way-to__btn {
    background-color: #2091f9;
    width: 236px;
    height: 52px;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    font-size: 20px;
    line-height: 20px;
    p{
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.fastes-way-to__btn:hover {
  background-color: #1767b0;
}

.fastes-way-to__image-container {
  padding: 8px;
  margin-left: 57px;
}

@media (max-width: 768px) {
  .fastes-way-to {
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .fastes-way-to__content-container {
    text-align: center;
  }
  .fastes-way-to__laptop-image {
    width: 378px;
    height: 211px;
  }
  .fastes-way-to__image-container {
    padding: 65px 0 0 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 360px) {
  .fastes-way-to__laptop-image {
    width: 340px;
    height: 211px;
  }
}
