.testimonials {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  display: grid;
  text-align: center;
}

.testimonials__title-container {
  padding: 100px 0 80px 0;
  .testimonials__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #252b42;
  }
}

.testimonials__picture-container {
  padding-bottom: 50px;
}

.testimonials__subtitle-container {
  padding-bottom: 50px;
  .testimonials__subtitle {
    padding: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #374754;
  }
}

.testimonials__client-content-container {
  display: flex;
  justify-content: center;
  .testimonials__client-info {
    text-align: left;
    padding-left: 10px;
    .testimonials__client-title {
      padding-top: 2px;
      padding-bottom: 2px;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #374754;
    }
    .testimonials__client-subtitle {
      padding-top: 2px;
      padding-bottom: 2px;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: #252b42;
    }
  }
}

.testimonials__btn-container {
  padding: 80px 0 100px 0;
  .testimonials__btn {
    background-color: #2091f9;
    width: 236px;
    height: 52px;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    font-size: 20px;
    line-height: 20px;
  }
  .testimonials__btn:hover {
    background-color: #1767b0;
  }
}

@media (max-width: 768px) {
  .testimonials__subtitle {
    font-size: 18px !important;
  }
}
